.login-content{
  width:100%;
  padding: 15%;
  margin: auto;
  background-color: #fff; 
  height: 100%;
}
 .form-signin{
  max-width: 350px;
 }

.btn-login{
  background-color: #457fca;
  font-style: unset;
  font-weight: bolder;
  color: #fff;
}

.btn-login:hover{
  background-color: #5691c8;
  color: #fff;
}

.opcoes-login a{
  font-weight: bolder;
  color: 000;
  transition: 1s ease-in;
}

.opcoes-login a:hover{
  text-decoration: none;
  color: #000;
}