.form-titulo{
 color: #fff;
}

.form-login{
  max-width: 350px;
}

.btn-cadastro{
  background-color: #457fca;
  font-style: unset;
  font-weight: bolder;
  color: #fff
}

.btn-cadastro:hover{
  background-color: #5691c8;
  color: #fff
}


